<?xml version="1.0" encoding="utf-8" ?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
	<testsuites>
		<testsuite name="SourceOptimizer">
			<file>tests/TokenStreamTest.php</file>
			<file>tests/ContextHelperTest.php</file>
			<file>tests/OptimizerTest.php</file>
			<file>tests/Passes/ConcatenateConstantStringsTest.php</file>
			<file>tests/Passes/EnforceFQNTest.php</file>
			<file>tests/Passes/RemoveCommentsTest.php</file>
			<file>tests/Passes/RemoveBracketsTest.php</file>
			<file>tests/Passes/RemoveWhitespaceTest.php</file>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>